.rangeSelectorText{
    line-height: 1 !important;
    font-size: 10px !important;
}

.filterBoxes {
    padding: 10px 0
}

.filterContainer {
    background-color: #ffffff !important;
    padding: 10px;
    border-radius: 5px ;
    margin: 8% 0% 
}